.table {
  color: rgb(7, 7, 6);
  width: 500px;
  border-collapse: collapse;
  border: 1px solid grey;
  text-align: center;
  margin: auto auto;
}

.item {
  border: 1px solid grey;
  background-color: #00d4d4;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 5px 0 5px 0;
}
.data {
  border: 1px solid rgb(187, 154, 247);
  font-weight: 300;
  font-size: 13px;
  padding: 5px 0 5px 0;
}

.line:nth-child(even) {
  background-color: rgb(212, 204, 216);
}
