.friend_list {
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
  border: 1px solid white;
  background-color: fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  font-size: 32px;
  width: 300px;
}

.avatar {
  border-radius: 10%;
  width: 80px;
  background-color: beige;
  margin: 0 10px;
}

.Online,
.Offline {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  margin: 0 15px 0 15px;
}

.Offline {
  background-color: red;
}
